<html>
<head>
  <style type="text/css">
  table.gridtable {
  	font-family: verdana,arial,sans-serif;
  	font-size:11px;
  	color:#333333;
  	border-width: 1px;
  	border-color: #666666;
  	border-collapse: collapse;
  }
  table.gridtable th {
  	border-width: 1px;
  	padding: 8px;
  	border-style: solid;
  	border-color: #666666;
  	background-color: #dedede;
  }
  table.gridtable td {
  	border-width: 1px;
  	padding: 8px;
  	border-style: solid;
  	border-color: #666666;
  	background-color: #ffffff;
  }
  </style>
</head>
<body>

  <p><%#= @plans %></p>
  <p><%#= @notifications %></p>
  <h2>Notification Plans</h2>
  <table class="gridtable">
    <% @plans['values'].each do |plan| %>
      <tr>
        <td>Notification: <%= plan['label'] %></td>
        <td>Critical: <%= @notifications['values'].find{|n| n['id'] == [plan['critical_state']].flatten[0].to_s }['label'] rescue '' %></td>
        <td>Warning: <%= @notifications['values'].find{|n| n['id'] == [plan['warning_state']].flatten[0].to_s }['label'] rescue '' %></td>
        <td>Ok: <%= @notifications['values'].find{|n| n['id'] == [plan['ok_state']].flatten[0].to_s }['label'] rescue '' %></td>
        <td><%= plan['id'] %></td>
      </tr>
    <% end %>
  </table>
  
  <h2>Notifications</h2>
  <table class="gridtable">
    <% @notifications['values'].each do |notify| %>
      <tr>
        <td><%= notify['label'] %></td>
        <td><%= notify['type'] %></td>
        <td><%= notify['details'] %></td>
        <td><%= notify['id'] %></td>
      </tr>
    <% end %>
  </table>

</body>
</html>
